a:link {
    color:#378AD2;
    text-decoration:none;
}
a:visited {
    color:#28608D;
    text-decoration:none;
}
a:hover {
    color:#28608D;
    text-decoration:underline;
}
a:active {
    color:#000000;
    text-decoration:none;
}


table {
    padding: 0; }
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
table tr:nth-child(2n) {
    background-color: #f8f8f8; }
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 8px; }
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 8px; }
